[submodule "stack/embodied-agents"]
	path = stack/embodied-agents
	url = https://github.com/automatika-robotics/embodied-agents.git
[submodule "stack/kompass"]
	path = stack/kompass
	url = https://github.com/automatika-robotics/kompass.git
[submodule "stack/sugarcoat"]
	path = stack/sugarcoat
	url = https://github.com/automatika-robotics/sugarcoat.git
